html,body,ul,li,div,h1,h2,h3,h4,p{
    padding:0;
    margin:0;
    font-family: '微软雅黑','sans-serif';
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.box{
    width: 1106px;
    height:1040px;
    margin:0 auto;

}
.box:after{
    clear: both;
    content: '';
    display: block;
}
.sidebar{
    width: 334px;
    height:1042px;
    background: #666;
    float: left;
}
.title{
    font-size:14px;
}
.title.top h2{
    padding-top:40px;
}
.header .title{
    color: #ffffff;
    text-align: center;
    margin-top:10px;
}
.title h2{
    padding-top:10px;
    padding-left: 25px;
}
.rule{
    margin:0 auto;
    margin-top:10px;
    border:1px solid #ffffff;
    width:284px;
}
.cnt a{
    color: #ffffff;
    text-decoration:none;
}
.cnt a:hover{
    background: #ffffff;
    color: #000;

}
i{
    color: #ffffff;
}
.user{
    margin-left:5px;
}
.cnt{
    padding:20px;
}
.cnt li{
    margin-top: 7px;
}
.icon{
    margin-right:10px;
    font-size:14px;
}
.icon-1{
     margin-right:13px;
 }
.contact-way{

}
.cnt p{
    color: #dddddd;
}
.right-sidebar{
    margin-left:334px;
    border:1px solid transparent;
    width:730px;
    height: 1000px;
    padding: 20px;
    background: #eeeeee;
}
.right-cnt li h3{
    text-align: center  ;
}
.rule-right{
    width:90%;
    margin:20px auto;
    border:1px solid #000000;
}
.project ul{
    margin:0 auto;
    text-align: center;
}
.project ul:after{
    clear: both;
    display: block;
    content: '';
}
.project li{
    border-radius:5px;
    width: 230px;
    margin:5px;
    text-align: center;
    float: left;
    border:1px solid #cccccc;
}
.img-ct{
    position: relative;
}
.img-ct img{
    width: 185px;
    height: 115px;
}
.btn{
    margin:0 auto;
}
.project a {
    display: inline-block;
    margin:5px;
    width:80px;
    padding:3px;
    border-radius:5px;
    color: #000000;
}
.project a:hover{
    background: #ccc;
}



